<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register - Student</h1>
    <form action="/index/register_company" method="POST">

        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="cpassword" placeholder="cpassword">

        <input type="email" name="official_email" placeholder="official_email">
        <input type="email" name="personal_email" placeholder="personal_email">
        <input type="tel" name="contact" placeholder="contact">
        <input type="text" name="admNo" placeholder="admNo">
        <input type="text" name="programme" placeholder="programme">
        <input type="text" name="branch" placeholder="branch">
        <input type="number" name="grad_year" placeholder="grad_year">
        <input type="number" name="cpi" placeholder="cpi">
        
        <button type="submit">Register</button>
    </form>
</body>
</html>