<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register - Admin</h1>
    <form action="/index/register_admin" method="POST">

        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="cpassword" placeholder="confirm password">

        <input type="email" name="email" placeholder="email">
        <input type="tel" name="contact" placeholder="contact">

        <button type="submit">Register</button>
    </form>
</body>
</html>